html {
	background-image: url("Chicago_muted.png");
	background-color: transparent;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
body {
	  margin-top: 2em;
	  margin-bottom: 4em;
}
div.text_wrapper {
	background-color: rgb(240,240,240);
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}
div.big_wrapper {
	background-color: rgba(220,220,220,0.8);
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
h1, h3, h5, p {
	font-family: "Open Sans", "Georgia", sans-serif;
}
h1, h3 {
	text-align: center;
}
h5 {
	margin-top: 0;
	text-align: center;
}
p {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}
table {
  margin-left: auto;
  margin-right: auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
}
table {
	max-width: 1000px;
}
td {
	width: 30%;
}
td:first-child {
	width: 15%;
}
code {
  font-size: 1.05em;
  background-color: rgb(240,240,240);
}
pre code {
	white-space: pre-wrap;
}
a {
  text-decoration: none;
}
