* {
	font-family: "Raleway","Helvetica","Arial",sans-serif;
	margin: 0;
}
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}
header {
	min-height: 800px;
	background-image: url("../images/JQ1.2.png");
	background-color: transparent;
	background-attachment: fixed;
	/*background-size: 100% 100%;*/
	background-size: 45%;
	background-position: top right;
	background-repeat: no-repeat;
}
a {
	/*text-shadow: 1.5px 0px 1.5px rgb(0,0,0);*/
}
a:hover {
	color: #8bb8df !important;
	text-decoration: none !important;
	/*text-shadow: 0px 1px 0.5px rgb(0,0,0);*/
	/*text-shadow: 0.5px 0px 6.5px black;*/
	/*text-shadow: none !important;*/
}
#titlecontainer {
	padding-left: 3em;
}
#titlename {
	font-size: 10vmin;
	font-weight: 900;
	color: #36417d;
	background-color: rgba(255,255,255,0.5);
	max-width: 800px;
	margin-bottom: 0;
}
.subtitle {
	background-color: rgba(255,255,255,0.5);
	padding-top: 30px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 2.25em;
}
#location {
	/*padding: 0px 0px 0px 50px;*/
	font-size: 2.25em;
}
#keys-container {
	padding-top: 10vh;
}
img.keys {
	width: 130px;
	/*height: 130px;*/
	/*margin-left: 0;*/
}

figure:hover img {
	border: 3px solid #36417D;
	border-radius: 20px;
	opacity: 1;
	transform: scale(0.93);
	/*background-color: aqua;*/
}
/*figcaption {
	background-color: rgba(54,65,125,0.5);
	font-weight: 600;
	font-size: 1.25em;
	margin-bottom: 10px;
	text-align: center;
	color: #B9B9BC;
	text-shadow: none;
  font-family: "Century Gothic", "Century", sans-serif;
}*/

.portf-img {
	width: 100%;
	/*height: 50vh;*/
}
.row {
	/*background-color: lightyellow;*/
}
.indent-1 {
	/*background-color: aqua;*/
	/*margin-left: 8.33333333333% !important;*/
	/*padding-left: 75px;*/
}
.key-figure p {
	text-align: center;
	margin-top: 5px;
}
.key-figure p mark {
	color: #36417d;
	/*background-color: rgba(214,230,244,0.5);*/
	background-color: transparent;
	font-size: 1.3em;
	font-weight: 700;
	text-shadow: none;
  font-family: "Century Gothic", "Century", sans-serif;
}
figure:hover p mark {
	color: #B9B9BC;
  font-family: "Century Gothic", "Century", sans-serif;
	color: #CFCFCF;
	background-color: #36417d;
	font-size: 1.3em;
	text-shadow: none;
}

#keyboard-spacer {
	width: 4.166666%;
}
#bio {
	padding: 25px 0;
	width: 100%;
	min-height: 200px;
	color: white;
	background-color: #36417d;
	text-align: center;
	display: inline-block;
}
#bio p {
	font-size: 4.5vmin;
	padding: 10px 25px;
	/*display: inline-block;
	/*vertical-align: middle;*/
}
#bio-1{text-align: left}
#bio-3{text-align: right}

.keyboard {
	min-height: 200px;
	background-image: url("../images/keyboard_washout_lightblue.jpg");
	background-color: transparent;
	/*background-attachment: fixed;*/
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}
.portfo-intro {
	background-image: url("../images/keyboard_washout.jpg");
	background-color: transparent;
	/*background-attachment: fixed;*/
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;

	/*border-top: 3px solid #36417d;
	border-bottom: 3px solid #36417d;*/
	/*border-top: 3px solid #000000;
	border-bottom: 3px solid #000000;*/
/*	border-top: 3px solid #344D89;
	border-bottom: 3px solid #344D89;*/
	/*border: 9px groove #36417d;*/
	/*background-color: #D4EAFF;*/
}
.portfo-intro p {
	margin: 0;
	padding: 25px;
	color: #36417d;
}
.portfo-intro-p1 {
	font-size: 5vmin;
	font-weight: 700;
}
#portf-container {
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	/*min-width: 1250px;*/
	/*margin: 0 3vw;*/
	/*padding-left: -15px;*/
	/*padding-right: -15px;*/
}
.portf-img {
	width: 100%;
}
.portf-item {
	/*display: table;*/
	/*padding: 0 !important;*/
}
.portf-item-cover {
/*	display: table-cell;
	vertical-align: middle;*/
	text-align: center;

	/*margin: 0px 15px !important;*/

	position: absolute;
	padding: 0px;
	width: 100%;
	/*width: 92.5%;*/
	height: 100%;
	top: 0px;
	left: 0px;
	background: #36417d none repeat scroll 0% 0%;
	color: #B9B9BC;

	opacity: 0;
	transition: all 0.3s ease-out 0s;
}
.portf-item-cover:hover {
	opacity: 0.85;
}
.portf-item-cover h2, .portf-item-cover h3 {
	color: #B9B9BC;
	padding: 25% 0;
}
.portfo-intro-p2 {
	font-size: 3.5vmin;
	font-weight: 400;
	font-style: italic;
	text-align: right;
}

.subjectbanner {
	min-height: 200px;
	line-height: 240px;
	text-align: center;
	/*border-top: 4px solid #36417d;*/
}
#eabanner {
	background-image: url("../images/SCI_light_blue.jpg");
	background-color: transparent;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
#other {
	background-image: url("../images/Westcott.jpg");
	background-color: transparent;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
.subjectbanner p {
	margin: -1px 0 0 0;
	color: white;
	display: inline-block;
	vertical-align: middle;
}
.subjectbanner p a {
	color: #36417d;
	background-color: rgba(220,220,220,0.5) !important;
	font-size: 3em !important;
	font-weight: 700;
}
.subjectbanner p a:hover {
	color: #36417d;
	background-color: rgba(54,65,125,0.5) !important;
	font-size: 3em !important;
	font-weight: 700;
}
#eawrap {
	background-color: #B9B9BC;
	/*background-color: black;*/
}
#eadescrip, #Singerquot {
	margin: 0;
}
#eadescrip h3 {
	margin-top: -0.5em;
	margin-left: 0.5em;
	margin-bottom: 1em;
}
#eadescrip p {margin-left: 2.5em;}

#eadescrip {
	padding: 30px 30px;
	border: hidden;
	color: white;
	background-color: #36417d;
	font-size: 1.4em;
}
.Singerquot {
	color: #36417d;
	background-color: white;
	margin: 50px 50px 15px 50px;
	/*margin-bottom: 50px;*/
/*	display: table-cell;
	vertical-align: middle;*/
}
.Singerquot blockquote {
}
#Singername {
	margin-bottom: 40px;
	clear: both;
	font-size: 1.5em;
	text-align: center;
}
.center {
	text-align: center;
}
#tedtalk {
	/*clear: both;*/

	/*min-height: 330px;*/
	min-height: 100px;
	color: white;
/*	background-color: #B9B9BC;
*/
	padding: 3vh 0 3vh 0;
	float: right;
	
	/*background-image: url("images/ted5.3.jpg");*/
	/*background-color: #D4EAFF;*/
/*	background-attachment: fixed;
	background-size: 60%;
	background-position: center right;
	background-repeat: no-repeat;*/

}
#ted-img {
	/*margin-left: 50%;*/
	width: 100%;
	height: 100%;
	/*filter: grayscale(0%);*/
	-webkit-filter: grayscale(70%);
	/*float: right;*/
}
#tedlink:hover {
	color: rgba(255,0,0,0.65) !important;
	background-color: rgba(255,255,255,0.25) !important;
}

.btn-default {
	color: #36417d !important;
	background-color: transparent !important;
	font-size: 18px !important;
	line-height: 2 !important;
	border: 2px solid #36417d !important;
	margin-bottom: 1em !important;
}
.btn-default:hover {
	color: #ffffff !important;
	background-color: #36417d !important;
}
#other-content .col-sm-4 {
	font-size: 1.5em;
	color: #36417d;
	text-align: center;
	margin-top: 5em;
	margin-bottom: 5em;
	/*min-height: 400px;*/
}
#other-content .col-sm-4 p {
	margin: 0;
}

footer {
	background-color: rgb(210,210,210);
}
footer div p, footer div h3 {
	margin-bottom: 0;
	text-align: center;
	padding: 1.8em;
}
footer p {
	font-size: 1.3em;
}
#credits {
	font-size: 1em;
}