* {
  font-family: "Raleway", "Helvetica", "Arial", sans-serif;
  margin: 0;
}
html,
body {
  width: auto !important;
  overflow-x: hidden !important;
}
header {
  min-height: 500px;
  background-color: transparent;
  background-attachment: fixed;
  background-size: 45%;
  background-position: top right;
  background-repeat: no-repeat;
}
a:hover {
  color: #8bb8df !important;
  text-decoration: none !important;
}
a:visited,
a:active {
  text-decoration: none !important;
}
#titlecontainer {
  padding-left: 3em;
}
#titlename {
  font-size: 9vmin;
  font-weight: 900;
  color: #36417d;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 800px;
  margin-bottom: 0;
}
.subtitle {
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.25em;
}
#location {
  font-size: 2.25em;
}
#keys-container {
  margin-left: 4.5vw;
  padding-top: 10vh;
}
img.keys {
  width: 130px;
}

.portf-img {
  width: 100%;
}
.key-figure:hover {
  transform: scale(0.9);
}
.key-figure img:hover {
  border: 1px solid #36417d;
  border-radius: 10px;
  padding: 2px;
}
.key-figure p {
  text-align: center;
  margin-top: 5px;
}
.key-figure p mark {
  color: #36417d;
  background-color: transparent;
  font-size: 1.3em;
  font-weight: 700;
  text-shadow: none;
  font-family: "Century Gothic", "Century", sans-serif;
}
.key-figure:hover p mark {
  color: #b9b9bc;
  font-family: "Century Gothic", "Century", sans-serif;
  color: #cfcfcf;
  background-color: #36417d;
  font-size: 1.3em;
  text-shadow: none;
}

footer {
  background-color: rgb(210, 210, 210);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  padding: 16px 0;
}

#credits {
  font-size: 1em;
}
