* {
	font-family: "Raleway","Helvetica","Arial",sans-serif;
	margin: 0;
}
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}
header {
	min-height: 800px;
	background-image: url("../images/JQ_portrait/JQ1.2 patch_5 - 40pct.png");
	background-color: transparent;
	background-attachment: fixed;
	background-size: 45%;
	background-position: top right;
	background-repeat: no-repeat;
}
a {
	/*text-shadow: 1.5px 0px 1.5px rgb(0,0,0);*/
}
a:hover {
	color: #8bb8df !important;
	text-decoration: none !important;
}
a:visited, a:active {
	text-decoration: none !important;
}
#titlecontainer {
	padding-left: 3em;
}
#titlename {
	font-size: 10vmin;
	font-weight: 900;
	color: #36417d;
	background-color: rgba(255,255,255,0.5);
	max-width: 800px;
	margin-bottom: 0;
}
.subtitle {
	background-color: rgba(255,255,255,0.5);
	padding-top: 30px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 2.25em;
}
#location {
	font-size: 2.25em;
}
#keys-container {
	margin-left: 4.5vw;
	padding-top: 10vh;
}
img.keys {
	width: 130px;
}

.portf-img {
	width: 100%;
}
.key-figure p {
	text-align: center;
	margin-top: 5px;
}
.key-figure p mark {
	color: #36417d;
	background-color: transparent;
	font-size: 1.3em;
	font-weight: 700;
	text-shadow: none;
  font-family: "Century Gothic", "Century", sans-serif;
}
.key-figure:hover p mark {
	color: #B9B9BC;
  font-family: "Century Gothic", "Century", sans-serif;
	color: #CFCFCF;
	background-color: #36417d;
	font-size: 1.3em;
	text-shadow: none;
}

#keyboard-spacer {
	width: 4.166666%;
}
#bio {
	padding: 25px 0;
	width: 100%;
	min-height: 200px;
	color: white;
	background-color: #36417d;
	text-align: center;
	display: inline-block;
}
#bio p {
	font-size: 4.5vmin;
	padding: 10px 25px;
}
#bio-1{text-align: left}
#bio-3{text-align: right}

.keyboard {
	min-height: 200px;
	background-image: url("../images/keyboard_washout_lightblue.jpg");
	background-color: transparent;
	/*background-attachment: fixed;*/
	background-size: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}
.portfolio {
	background-image: url("../images/keyboard_washout.jpg");
	background-color: transparent;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
}
.portfolio p {
	margin: 0;
	padding: 25px;
	color: #36417d;
}
.portfolio-p1 {
	font-size: 5vmin;
	font-weight: 700;
}
#portf-container {
	padding: 0;
	margin-left: auto;
	margin-right: auto;
}
.portf-img {
	width: 100%;
	border: 3px outset gray;
}
.portf-item {
}
.portf-item-cover {
	text-align: center;
	position: absolute;
	padding: 0px;
	width: 92%;
	height: 86%;
	margin: 0 4%;
	top: 0px;
	left: 0px;
	background: #36417d none repeat scroll 0% 0%;
	color: #B9B9BC;

	opacity: 0;
	transition: all 0.3s ease-out 0s;
}
#pollarity-cover {height: 87%;}
#youtube-game-cover {height: 85%}
#this-site-cover {height: 87%;}
#qool-quotes-cover {height: 83%}
.portf-item-cover:hover {
	opacity: 0.85;
}
.portf-item-cover h2, .portf-item-cover h3 {
	color: #FFF;
	padding: 15% 0;
}
.portf-item-cover h2 small, .portf-item-cover h3 small {
	color: #B9B9BC !important;
}
.portfolio-p2 {
	font-size: 3.5vmin;
	font-weight: 400;
	font-style: italic;
	text-align: right !important;
}
.source-description-links {
	padding: 8px 0;
	text-align: center;
	font-size: 120%
}

.project-blurb {
	text-align: center;
	background: #e7f0f8 !important;
	color: #000 !important;
	padding: 50px !important;
	font-size: 115% !important;
}
.ui-dialog-title {
  width: 100% !important;
}
.ui-dialog-titlebar {
  text-align: center;
  color: #36417d !important;
	font-size: 150% !important;
	font-weight: bold;
}
.ui-widget-overlay {
   /*background: #AAA url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;*/
   background: #36417d !important;
   opacity: .80 !important;
   /*filter: Alpha(Opacity=30);*/
}
.ui-dialog {
	border: 6px solid black !important;
	background: transparent !important;
}

.subjectbanner {
	min-height: 200px;
	padding-top: 79px;
	padding-bottom: 79px;
	margin: 0;
	text-align: center;
}
.subjectbanner-button {
	margin: 0px !important;
}
#eabanner {
	padding-bottom: 0px !important;

	background-image: url("../images/SCI_light_blue.jpg");
	background-color: transparent;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
#other {
	background-image: url("../images/Westcott.jpg");
	background-color: transparent;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
.subjectbanner-text {
	margin: -1px 0 0 0;
	color: white;
	display: inline-block;
	vertical-align: middle;
}
.subjectbanner-text a {
	color: #36417d;
	background-color: rgba(220,220,220,0.5) !important;
	font-size: 3em !important;
	font-weight: 700;
}
.subjectbanner-text a:hover {
	color: #36417d;
	background-color: rgba(54,65,125,0.5) !important;
	font-size: 3em !important;
	font-weight: 700;
}
#SCI-photo-credit {
	margin: 1.5em 0 0 30%;
  padding: 0.5em 1.5em 0.5em 0;
	color: white;
	background-color: rgba(54,65,125,0.5);
  font-style: italic;
  font-size: 1.15em !important;
  text-align: right;
  line-height: 1em;
}
#SCI-photo-credit a {
	color: white;
	text-decoration: underline;
	text-decoration-style: dotted;
}
#eawrap {
	background-color: #B9B9BC;
}
#eadescrip, #Singerquot {
	margin: 0;
}
#eadescrip h3 {
	margin-top: -0.5em;
	margin-left: 0.5em;
	margin-bottom: 1em;
}
#eadescrip p {margin-left: 2.5em;}

#eadescrip {
	padding: 30px 30px;
	border: hidden;
	color: white;
	background-color: #36417d;
	font-size: 1.4em;
}
.Singerquot {
	color: #36417d;
	background-color: white;
	margin: 50px 50px 15px 50px;
}
.Singerquot blockquote {
}
#Singername {
	margin-bottom: 40px;
	clear: both;
	font-size: 1.5em;
	text-align: center;
}
.center {
	text-align: center;
}
#tedtalk {
	min-height: 100px;
	color: white;
	padding: 3vh 0 3vh 0;
	float: right;
}
#ted-img {
	width: 100%;
	height: 100%;
	filter: grayscale(0%);
	-webkit-filter: grayscale(50%);
}

.btn-default {
	color: #36417d !important;
	background-color: transparent !important;
	font-size: 18px !important;
	line-height: 2 !important;
	border: 2px solid #36417d !important;
	margin-bottom: 1em !important;
}
.btn-default:hover {
	color: #ffffff !important;
	background-color: #36417d !important;
}
#other-content {
	margin-top: 40px;
	margin-bottom: 40px;
}
.other-column {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	font-size: 1.5em;
	color: #36417d;
	text-align: center;
	margin-top: 5em;
	margin-bottom: 5em;
}
.other-column p {
	margin: 0;
}
.music-box {
	margin-top: 10px;
	max-height: 333px;
	overflow: auto;
}
.wrapper {
	margin-top: 10px;
}
#jay-frisbee {
	-webkit-filter: grayscale(65%);
	filter: grayscale(65%);
}

.social-media-portal {
	margin: 0 auto;
	max-width: 635px;
}
.social-media-key-figure:hover img {
	border: 1px solid #36417D;
	border-radius: 20px;
	opacity: 1;
	transform: scale(0.93);
}
.social-media-key-figure {
	display: inline-block;
}
.social-media-key-figure p {
	font-size: 100%;
}
.social-media-keys {
	width: 80px;
}

footer {
	background-color: rgb(210,210,210);
}
footer div p, footer div h3 {
	margin-bottom: 0;
	text-align: center;
	padding: 1em;
}
footer p {
	font-size: 1.3em;
}
#credits {
	font-size: 1em;
}