body {
  margin: 0px;
  background-color: #8B8B8D;
}
header {
  z-index: 100;
  position: fixed;
  top: 0%;
  left: 0;
  right: 0;
  height: 130px;
  /*border: 5px solid #8B8B8D;*/
  background-color: #36417D;
  /*background-image: url("Chicago.jpg")*/
  text-align: center
}
header h1 {
  color: #F3F3F5;
  font-family: "Century Gothic", "Century", sans-serif;
}
header p {
  color: #8B8B8D;
  font-family: "Century Gothic", "Century", sans-serif;
}
a {
  color: none;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: none;
}
div {
  position: relative;
  /*border: 1px solid black;*/
  text-align: center;
  display: inline-block;
}
div.left {
  /*width: 33%;*/
  margin-left: 20%;
}
div.middle {
  /*width: 33.5%;*/
}
div.right{
  margin-right: 20%;
  /*width: 33%;*/
}
div.row1 {
  background-color: #36417D;
  /*margin: 20px;*/
  /*width: 32%;*/
  /*height: 300px;*/
  border-radius: 5%;
  padding: 5px;
  color: #F3F3F5;
  font-family: "Century Gothic", "Century", sans-serif;
}
#maincontent {
/*  background-color: #B76A40;
*/  /*border: 3px dashed rgba(256,113,232,1);*/
  position: relative;
  top: 150px;
  /*line-height: 280px;*/
}
#blogbar {
  margin-top: 20%;
  /*margin-left: auto;*/
  /*margin-right: auto;  */
  /*background-color: aqua;*/
  padding-bottom: 12px;
  position: absolute;
  top: 150px;
  right: 0;
  left: 0;
  height: 150px;
  border: 0.5px dotted #F3F3F5;
  border-radius: 4%;
}
#bloglogo {
  margin-left: auto;
  margin-right: auto;
  /*background-color: yellow;*/
  position: relative;
  /*left: 50px;
  top: 25px;*/
  width: 200px;
  padding: 1.5px;
  background-color: #36417D;
  text-align: center;
  color: #F3F3F5;
  font-family: "Century Gothic", "Century", sans-serif;
}
section ul li {
  color: #F3F3F5;
  font-family: "Century Gothic", "Century", sans-serif;
}
section ul li a {
  font-size: 1.1em;
  color: #36417D;
  font-family: "Century Gothic", "Century", sans-serif;
}
#blogbar h5 {
  /*margin-top: -15px;*/
  text-align: center;
  /*font-style: italic;*/
  color: #F3F3F5;
  font-family: "Century Gothic", "Century", sans-serif;
}
footer {
  position: absolute;
  /*top: 150px;*/
  bottom: 0;
  right: 0;
  left: 0;
  /*border: 3px dashed rgba(102,46,255,1);*/
  text-align: center;
  /*background-color: rgba(128,0,128,0.5);*/
  color: #36417D;
  font-family: "Century Gothic", "Century", sans-serif;
}
