* {
	margin: 0;
	padding: 0;
}
html {
	background-image: url("../assets/keyboard_background_images/keyboard_gs_-40_+40.jpg");
	background-color: transparent;
	background-attachment: fixed;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
header {
  z-index: 100;
  /*position: fixed;*/
  top: 0%;
  left: 0;
  right: 0;
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  opacity: 0.92;
  background-color: #36417D;
  text-align: center
}
header h1 {
  color: #FFFFFF;
  font-family: "Century Gothic", "Century", sans-serif;
}
header p {
  color: #B9B9BC;
  font-family: "Century Gothic", "Century", sans-serif;
  font-size: 1.1em;
  padding: 14px;
}
header p a {
  color: #B9B9BC;
	text-decoration: none;
}
header p a:hover {
	/*text-decoration: underline;*/
}
header:hover {
	opacity: 1;
}
header:hover a {
  color: #FFFFFF;
}
header:hover h1 {
  color: #B9B9BC;
}
img.comp-key {
	width: 15vw;
	height: 15vw;
	max-height: 150px;
	max-width: 150px;
	min-width: 100px;
	min-height: 100px;
	opacity: 0.9;
	border: .03px solid rgba(0,0,0,0);
	/*display: block;*/
}
figure {
	display: inline-block;
}
figure:hover {
	/*background-color: #36417D;*/
}
figure:hover figcaption {
	color: white;
}
figure:hover img {
	border: .03px solid #36417D;
	border-radius: 20px;
	opacity: 1;
	transform: scale(0.93);
	/*background-color: aqua;*/
}
figcaption {
	background-color: rgba(54,65,125,0.5);
	/*background-color: #36417D;*/
	font-weight: 600;
	font-size: 1.03em;
	margin-bottom: 10px;
	text-align: center;
	color: #B9B9BC;
  font-family: "Century Gothic", "Century", sans-serif;
}
#jq-key {
	display: block;
	width: 116px;
	height: 116px;
	position: fixed;
	top: 0;
	z-index: -1;
}
#jq-key:hover {
	background-color: #36417D;
	border: 3px solid #36417D;
	border-radius: 20px;
	opacity: 1;
	transform: scale(0.93);
	/*background-color: aqua;*/
}
#top-keys-container {
	background-color: purple;
	margin-top: 4%;
	margin-left: 25vw;
	/*margin-right: auto;*/
	/*width: 50%;*/
	/*max-width: 590px;*/
}
#second-row-keys-container {
	background-color: green;
	margin-left: 31vw;
	/*margin-right: auto;*/
	margin-bottom: 6%;
	/*width: 50%;*/
	/*max-width: 490px;*/
}
#first-row-spacer {
	width: 10vw;
	height: 80px;
	/*visibility: hidden;*/
	/*opacity: 0;*/
}#second-row-spacer {
	width: 18vw;
	height: 5px;
	/*visibility: hidden;*/
	/*opacity: 0;*/
}
footer {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  opacity: 0.9;
  background-color: #36417D;
  text-align: center;
}
footer#p1 {
  color: #B9B9BC;
  font-family: "Century Gothic", "Century", sans-serif;
  /*font-size: 1.1em;
  padding: 14px;*/
}
footer p {
	color: #B9B9BC;
  font-family: "Century Gothic", "Century", sans-serif;
  font-size: 1.1em;
  padding: 14px;
}
footer:hover {
	opacity: 1;
}
footer:hover #p1 {
  color: #FFFFFF;
}